/* public/styles.css */
body {
  font-family: sans-serif;
  background: #fafafa;
  color: #333;
  margin: 0;
  padding: 2rem;
}

.centered {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

input, button {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
}
